@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>@GetTitle()</h1>

This is a Single Page Web App that uses Cookies for authentication and authorization.


@{
    string GetTitle() =>
        NavigationManager.Uri.Contains("7166") ? "Regular WASM Frontend" : "Proxied WASM Frontend";
}